@import url(/Components/Shared/reset.css);
@import url(/Components/Shared/colors.css);

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    background: var(--light);
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: linear-gradient(
        48deg,
        rgba(188, 96, 131, 1) 1%,
        rgba(149, 75, 117, 1) 33%,
        rgba(72, 33, 88, 1) 67%
    );
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 100000vh var(--light);
}

nav {
    background: var(--light);
    height: 5rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 11px 22px -25px var(--dark);
    justify-content: space-between;
    padding: 1rem;
}

.doc-appbar-fixed,
.appbar-fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.logo > img {
    width: 70px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.footer-links,
.nav-links,
.social-links {
    text-transform: uppercase;
    text-decoration: none;
}

.footer-links {
    display: none;
}
.nav-links:active,
.links > a:active {
    color: rgba(188, 96, 131, 1);
}

.footer-links,
.ham-burger,
.social-links {
    color: rgba(72, 33, 88, 1);
    font-size: 2rem;
}

.ham-burger {
    display: none;
}

.doc-content {
    margin-top: 5rem;
}

.menu-bar {
    background-color: var(--light);
    position: fixed;
    box-shadow: 11px 0px 22px -25px var(--dark);
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    left: 0;
    top: 0;
    overflow: auto;
    width: 16rem;
}

.toast-left-blue,
.toast-center-red,
.toast-left-orange,
.toast-right-green {
    position: unset;
    transform: unset;
}

.main-docs {
    margin: 0 20rem 0 16.5rem;
    padding: 1rem;
}

.hero {
    background: url(/images/bg-img.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: auto 80%;
    background-attachment: fixed;
    height: calc(100vh - 5rem);
}

.hero-content {
    padding: 2rem;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.hero-content > h1 {
    color: rgba(72, 33, 88, 1);
}

.hero-content > p {
    color: rgba(149, 75, 117, 1);
}

.list {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.list-items-hover {
    text-decoration: none;
    list-style: none;
    color: var(--dark);
    transition: all 0.3s ease;
    width: calc(100% - 0.5rem);
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 10px;
    align-items: center;
    outline: 0;
    border-radius: 10px;
}

.list-items-hover:hover {
    background: #00000010;
    font-weight: 600;
    color: rgba(72, 33, 88, 1);
    padding: 10px 20px;
}

.list-items-hover:focus::before,
.list-items-hover:hover::before {
    content: "";
    width: 15px;
    height: 15px;
    background: linear-gradient(
        48deg,
        rgba(188, 96, 131, 1) 1%,
        rgba(149, 75, 117, 1) 33%,
        rgba(72, 33, 88, 1) 67%
    );
    border-radius: 50%;
}

.list-active::after {
    content: "";
    width: 15px;
    height: 15px;
    background: linear-gradient(
        48deg,
        rgba(188, 96, 131, 1) 1%,
        rgba(149, 75, 117, 1) 33%,
        rgba(72, 33, 88, 1) 67%
    );
    border-radius: 50%;
}

.intro-hero {
    color: #141414;
    padding: 2rem;
    background: linear-gradient(
        48deg,
        rgba(188, 96, 131, 1) 1%,
        rgba(149, 75, 117, 1) 33%,
        rgba(72, 33, 88, 1) 67%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50px;
    box-shadow: 20px 20px 19px #bebebe42, -20px -20px 19px #ffffff;
}

.intro-body {
    margin: 2rem;
}

.color-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.color-box > * {
    height: 9rem;
    width: 9rem;
}

hr {
    margin: 1rem 0;
    width: 100%;
}

.margin-left {
    display: inline-block;
    margin: 1rem 0 0 2rem;
}

.example-div-sm,
.example-div {
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
        rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    border-radius: 4px;
    background: #fff;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    margin: 1.5rem 0;
    flex-wrap: wrap;
}

.example-div-sm {
    height: auto;
}

.btn-main,
.btn-secondary,
.btn-primary {
    font-weight: 600;
    border-radius: 3.5px;
    padding: 0.8em;
    border: none;
    font-family: inherit;
    color: var(--light);
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    border: rgba(149, 75, 117, 1) solid 2px;
    font-size: 1rem;
    background: rgba(149, 75, 117, 1);
}

.btn-main,
.btn-secondary {
    font-size: 1rem;
    border: rgba(149, 75, 117, 1) solid 2px;
    background: var(--light);
    display: inline-block;
    line-height: inherit;
    color: rgba(72, 33, 88, 1);
}

.btn-main:active,
.btn-secondary:active {
    background: rgba(149, 75, 117, 1);
    color: var(--light);
}

.btn-primary:active {
    background: linear-gradient(
        48deg,
        rgba(72, 33, 88, 1) 15%,
        rgba(149, 75, 117, 1) 42%,
        rgba(188, 96, 131, 1) 90%
    );
}

.main-dark {
    transition: all 1s ease;
    height: 100vh;
    min-height: -webkit-fill-available;
    background: linear-gradient(
        48deg,
        rgba(188, 96, 131, 1) 10%,
        rgba(149, 75, 117, 1) 37%,
        rgba(72, 33, 88, 1) 85%
    );
    color: var(--light);
    display: flex;
}

.main-dark > section {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1.5rem;
}

.main-dark > section:first-child {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.main-dark > section:last-child {
    align-items: center;
}

.code-snippet-sm,
.code-snippet {
    width: 100%;
    padding: 1rem 0;
    background-color: #141414;
    margin: 2rem 0;
    overflow: hidden;
    border-radius: 24px;
}

.code-snippet-sm {
    height: auto;
    padding: auto;
}

.code-snippet {
    height: 300px;
}

.code-snippet iframe,
.code-snippet-sm iframe {
    overflow: scroll;
    width: calc(100% + 18px);
    border: 0;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 1500px) {
    .hero {
        background-position-y: bottom;
        background-position-x: center;
        background-size: 80% 30%;
    }

    .hero-content {
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-start;
    }

    .main-dark {
        flex-direction: column;
    }
    .main-dark > section {
        width: 100%;
    }

    .main-dark > section:last-child {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 850px) {
    .main-docs {
        margin: 0;
    }

    .menu-bar {
        transition: all 0.3s ease;
        top: -190vh;
        width: auto;
        height: max-content;
        box-shadow: 0px 11px 22px -25px var(--dark);
        right: 0;
        z-index: 3;
    }

    .ham-burger {
        display: inline-block;
    }

    .social-links {
        display: none;
    }

    .footer-links {
        display: block;
    }
}
