:root {
    --red-100: #ffcdd2;
    --red-400: #ef5350;
    --red-500: #f44336;
    --red-600: #e53935;
    --green-100: #c8e6c9;
    --green-400: #66bb6a;
    --green-500: #4caf50;
    --green-600: #43a047;
    --teal-100: #ccfbf1;
    --teal-400: #5eead4;
    --teal-500: #2dd4bf;
    --teal-600: #14b8a6;
    --blue-100: #bbdefb;
    --blue-400: #29b6f6;
    --blue-500: #03a9f4;
    --blue-600: #039be5;
    --purple-100: #e1bee7;
    --purple-400: #ab47bc;
    --purple-500: #9c27b0;
    --purple-600: #8e24aa;
    --orange-100: #ffe0b2;
    --orange-400: #ffa726;
    --orange-500: #ff9800;
    --orange-600: #fb8c00;
    --pink-100: #f8bbd0;
    --pink-400: #ec407a;
    --pink-500: #e91e63;
    --pink-600: #d81b60;
    --yellow-100: #fff9c4;
    --yellow-400: #ffee58;
    --yellow-500: #ffeb3b;
    --yellow-600: #fdd835;
    --gray-400: #bdbdbd;
    --gray-600: #757575;
    --dark: #212121;
    --light: #f1f5f9;
}
