<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/doc.css" />
        <link rel="stylesheet" href="/Components/button/button.css" />
        <link rel="stylesheet" href="/Components/text-utilities/text.css" />
        <link
            rel="shortcut icon"
            href="/images/favicon.png"
            type="image/x-icon"
        />
        <title>MOR | Colors</title>
    </head>
    <body>
        <body>
            <nav class="appbar-fixed">
                <a href="/index.html" class="logo">
                    <img src="/images/text-logo.png" />
                </a>
                <span class="links">
                    <a
                        href="https://github.com/aman-can"
                        target="_blank"
                        class="social-links"
                    >
                        <i class="fab fa-github-square"></i>
                    </a>
                    <a
                        href="https://www.linkedin.com/in/dubey-aman/"
                        target="_blank"
                        class="social-links"
                    >
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a
                        href="https://twitter.com/ScoobyDubeyDo"
                        target="_blank"
                        class="social-links"
                    >
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a class="ham-burger">
                        <i class="fa fa-bars"></i>
                    </a>
                </span>
            </nav>
            <main class="doc-content">
                <aside class="menu-bar">
                    <ul class="list">
                        <p class="heading-6">Getting Started</p>
                        <a href="/intro.html" class="list-items-hover">
                            <li>Introduction</li>
                        </a>
                        <a
                            href="/Components/Shared/colors.html"
                            class="list-items-hover list-active"
                        >
                            <li>Colors</li>
                        </a>
                        <a
                            href="/Components/text-utilities/text.html"
                            class="list-items-hover"
                        >
                            <li>Typography</li>
                        </a>
                        <p class="heading-6">Components</p>
                        <a
                            href="/Components/button/button.html"
                            class="list-items-hover"
                        >
                            <li>Button</li>
                        </a>
                        <a
                            href="/Components/avatar/avatar.html"
                            class="list-items-hover"
                        >
                            <li>Avatar</li> </a
                        ><a
                            href="/Components/badge/badge.html"
                            class="list-items-hover"
                        >
                            <li>Badge</li>
                        </a>

                        <a
                            href="/Components/card/card.html"
                            class="list-items-hover"
                        >
                            <li>Card</li> </a
                        ><a
                            href="/Components/modal/modal.html"
                            class="list-items-hover"
                        >
                            <li>Modal</li>
                        </a>
                        <a
                            href="/Components/image/image.html"
                            class="list-items-hover"
                        >
                            <li>Image</li>
                        </a>
                        <a
                            href="/Components/navigation/navigation.html"
                            class="list-items-hover"
                        >
                            <li>App Bar</li>
                        </a>
                        <a
                            href="/Components/alert/alert.html"
                            class="list-items-hover"
                        >
                            <li>Alert</li>
                        </a>
                        <a
                            href="/Components/rating/rating.html"
                            class="list-items-hover"
                        >
                            <li>Rating</li>
                        </a>
                        <a
                            href="/Components/slider/slider.html"
                            class="list-items-hover"
                        >
                            <li>Slider</li>
                        </a>
                        <a
                            href="/Components/input/input.html"
                            class="list-items-hover"
                        >
                            <li>Input</li>
                        </a>
                        <a
                            href="/Components/toast/toast.html"
                            class="list-items-hover"
                        >
                            <li>Toast</li>
                        </a>
                        <a
                            href="/Components/list/list.html"
                            class="list-items-hover"
                        >
                            <li>Lists</li>
                        </a>
                        <a
                            href="/Components/grid/grid.html"
                            class="list-items-hover"
                        >
                            <li>Grid</li>
                        </a>
                        <hr />
                    </ul>
                </aside>
                <section class="main-docs">
                    <hr />
                    <div class="intro-hero">
                        <p class="heading-2">MOR Colors!!!</p>
                        <p class="heading-5">Yeyyy</p>
                    </div>
                    <div class="intro-body">
                        <p class="text-body-lg text-gutterBottom">
                            MOR is supplied with preset colors, which are in
                            accordance with the overall design. these colors
                            were selected on a generic basis, which can be
                            accessed by pre-defined variables for any of your
                            custom uses.
                        </p>
                    </div>

                    <div class="example-div-colors">
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--red-100)"
                            >
                                --red-100
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--red-400)"
                            >
                                --red-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--red-500)"
                            >
                                --red-500
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--red-600)"
                            >
                                --red-600
                            </div>
                        </div>
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--green-100)"
                            >
                                --green-100
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--green-400)"
                            >
                                --green-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--green-500)"
                            >
                                --green-500
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--green-600)"
                            >
                                --green-600
                            </div>
                        </div>
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--blue-100)"
                            >
                                --blue-100
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--blue-400)"
                            >
                                --blue-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--blue-500)"
                            >
                                --blue-500
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--blue-600)"
                            >
                                --blue-600
                            </div>
                        </div>
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="
                                    background-color: var(--purple-100);
                                    color: var(--dark);
                                "
                            >
                                --purple-100
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="
                                    background-color: var(--purple-400);
                                    color: var(--light);
                                "
                            >
                                --purple-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="
                                    background-color: var(--purple-500);
                                    color: var(--light);
                                "
                            >
                                --purple-500
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="
                                    background-color: var(--purple-600);
                                    color: var(--light);
                                "
                            >
                                --purple-600
                            </div>
                        </div>
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--orange-100)"
                            >
                                --orange-100
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--orange-400)"
                            >
                                --orange-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--orange-500)"
                            >
                                --orange-500
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--orange-600)"
                            >
                                --orange-600
                            </div>
                        </div>
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--pink-100)"
                            >
                                --pink-100
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--pink-400)"
                            >
                                --pink-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--pink-500)"
                            >
                                --pink-500
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--pink-600)"
                            >
                                --pink-600
                            </div>
                        </div>
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--yellow-100)"
                            >
                                --yellow-100
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--yellow-400)"
                            >
                                --yellow-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--yellow-500)"
                            >
                                --yellow-500
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--yellow-600)"
                            >
                                --yellow-600
                            </div>
                        </div>
                        <div class="color-box">
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--light)"
                            >
                                --light
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="background-color: var(--gray-400)"
                            >
                                --gray-400
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="
                                    background-color: var(--gray-600);
                                    color: var(--light);
                                "
                            >
                                --gray-600
                            </div>
                            <div
                                class="color heading-6 text-align-center"
                                style="
                                    background-color: var(--dark);
                                    color: var(--light);
                                "
                            >
                                --dark
                            </div>
                        </div>
                    </div>
                    <hr />
                    <span class="links">
                        <a href="#" class="footer-links"
                            ><i class="fab fa-github-square"></i
                        ></a>
                        <a href="#" class="footer-links"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="#" class="footer-links"
                            ><i class="fab fa-twitter-square"></i
                        ></a>
                    </span>
                </section>
            </main>
            <script src="/javaScript/doc.js"></script>
            <script
                src="https://kit.fontawesome.com/0c3127d83e.js"
                crossorigin="anonymous"
            ></script>
        </body>
    </body>
</html>
