<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./image.css" />
        <link rel="stylesheet" href="/css/doc.css" />
        <title>MOR | Image</title>
    </head>
    <body>
        <div class="image-example-box">
            <img
                class="responsive-round-image"
                src="https://picsum.photos/500/600"
                alt="random pic for display"
            />
        </div>
        <div class="image-example-box">
            <img
                class="responsive-image"
                src="https://picsum.photos/500/600"
                alt="random pic for display"
            />
        </div>
    </body>
</html>
