<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../button/button.css" />
        <link rel="stylesheet" href="./card.css" />
        <title>MOR | Card`</title>
    </head>

    <body>
        <body>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lorem, ipsum dolor.</h3>
                </div>
                <div class="card-body">
                    <div class="card-badge">Quote</div>
                    <p class="card-subtitle">Lorem, ipsum.</p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Iste hic nulla, repellendus incidunt numquam
                        aperiam. Veritatis a aspernatur dicta natus! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit.
                        Consectetur, perferendis.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-image-overlay">
                        <img
                            src="https://picsum.photos/500/300"
                            alt="image of hela"
                            class="card-top-image"
                        />
                        <div class="card-overlay-text">
                            <h3 class="card-title">Lorem, ipsum dolor.</h3>
                            <p class="card-subtitle">Lorem, ipsum.</p>
                        </div>
                    </div>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Iste hic nulla, repellendus incidunt numquam
                        aperiam. Veritatis a aspernatur dicta natus! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit.
                        Consectetur, perferendis.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="card-actions">
                        <div class="card-btns">
                            <button class="btn-filled-blue">click</button>
                            <button class="btn-Outlined-blue">action</button>
                        </div>
                        <div class="card-icon-btns">
                            <button class="icon-btn-blue">
                                <i class="far fa-heart"></i></button
                            ><button class="icon-btn-blue">
                                <i class="fas fa-share-alt"></i></button
                            ><button class="icon-btn-blue">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body-horizontal">
                    <img
                        src="https://picsum.photos/500/300"
                        alt="image of hela"
                        class="card-side-image"
                    />
                    <div class="card-side-content">
                        <h3 class="card-title">Hela Odinsdottir</h3>
                        <p class="card-subtitle">Goddess of Death</p>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Iste hic nulla, repellendus incidunt numquam
                            aperiam. Veritatis a aspernatur dicta natus!
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-actions">
                        <div class="card-btns">
                            <button class="btn-filled-blue">click</button>
                            <button class="btn-Outlined-blue">action</button>
                        </div>
                        <div class="card-icon-btns">
                            <button class="icon-btn-blue">
                                <i class="far fa-heart"></i></button
                            ><button class="icon-btn-blue">
                                <i class="fas fa-share-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script
                src="https://kit.fontawesome.com/0c3127d83e.js"
                crossorigin="anonymous"
            ></script>
        </body>
    </body>
</html>
