<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./input.css" />
        <title>MOR | Input</title>
    </head>
    <body>
        <label for="name" class="input-label">
            Email
            <input
                class="input"
                type="email"
                placeholder="Your name"
                id="name"
                required
            />
            <p class="input-error-msg">This is an error message.</p>
        </label>
        <label for="name" class="input-label">
            Name
            <input
                class="input"
                type="text"
                placeholder="Your name"
                id="name"
                required
            />
            <p class="input-error-msg">This is an error message.</p> </label
        ><label for="name" class="input-label">
            Password
            <input
                class="input"
                type="password"
                placeholder="Your name"
                id="name"
                required
            />
            <p class="input-error-msg">This is an error message.</p> </label
        ><label for="name" class="input-label">
            mobile
            <input
                class="input"
                type="number"
                placeholder="mobile"
                id="name"
                required
            />
            <p class="input-error-msg">This is an error message.</p>
        </label>
    </body>
</html>
