<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./button.css" />
    <script src="https://kit.fontawesome.com/0c3127d83e.js" crossorigin="anonymous"></script>
    <title>MOR | Button</title>
</head>

<body>
    <button class="btn-filled-red">CLICK</button>
    <button class="btn-filled-green">
        CLICK<i class="fa fa-home"></i>
    </button>
    <button class="btn-filled-blue">CLICK</button>
    <button class="btn-filled-purple">CLICK</button>
    <button class="btn-filled-orange">CLICK</button>
    <button class="btn-filled-pink">CLICK</button>
    <button class="btn-filled-yellow">CLICK</button>
    <button class="btn-Outlined-red">CLICK</button>
    <button class="btn-Outlined-green">CLICK</button>
    <button class="btn-Outlined-blue">CLICK</button>
    <button class="btn-Outlined-purple">CLICK</button>
    <button class="btn-Outlined-orange">CLICK</button>
    <button class="btn-Outlined-pink">
        <i class="fa fa-home"></i> CLICK
    </button>
    <button class="btn-Outlined-yellow">CLICK</button>
    <button class="icon-btn-red"><i class="fa fa-home"></i></button>
    <button class="icon-btn-green"><i class="fa fa-home"></i></button>
    <button class="icon-btn-blue"><i class="fa fa-home"></i></button>
    <button class="icon-btn-purple"><i class="fa fa-home"></i></button>
    <button class="icon-btn-orange"><i class="fa fa-home"></i></button>
    <button class="icon-btn-pink"><i class="fa fa-home"></i></button>
    <button class="icon-btn-yellow"><i class="fa fa-home"></i></button>
    <button class="btn-link">Click</button>
</body>

</html>