@import url(../Shared/reset.css);
@import url(/Components/Shared/colors.css);

.avatar-circle-sm,
.avatar-circle-md,
.avatar-circle-lg {
    border-radius: 50%;
    outline: 1px solid var(--dark);
    aspect-ratio: 1;
    object-fit: cover;
}

.avatar-squircle-sm,
.avatar-squircle-md,
.avatar-squircle-lg {
    border-radius: 0.7rem;
    outline: 1px solid var(--dark);
    aspect-ratio: 1;
    object-fit: cover;
}

.avatar-squircle-sm,
.avatar-circle-sm {
    max-width: 2.5rem;
    max-height: 2.5rem;
}

.avatar-squircle-md,
.avatar-circle-md {
    max-width: 3rem;
    max-height: 3rem;
}

.avatar-squircle-lg,
.avatar-circle-lg {
    max-width: 4rem;
    max-height: 4rem;
}
