@import url(/Components/Shared/reset.css);
@import url(/Components/Shared/colors.css);

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6,
.text-subtitle,
.text-body-lg,
.text-body-sm,
.text-caption,
.text-gutterBottom,
.text-noWrap,
.text-align-left,
.text-align-right,
.text-align-center,
.text-align-justify {
    display: block;
}

.heading-3,
.heading-4,
.heading-5,
.text-body-lg,
.text-body-sm,
.text-caption {
    font-weight: 400;
}

.heading-1 {
    font-size: 6rem;
    letter-spacing: -0.01562em;
    font-weight: 300;
}

.heading-2 {
    font-size: 3.75rem;
    letter-spacing: -0.00833em;
    font-weight: 300;
}

.heading-3 {
    font-size: 3rem;
    letter-spacing: 0em;
}

.heading-4 {
    font-size: 2.125rem;
    letter-spacing: 0.00735em;
}

.heading-5 {
    font-size: 1.5rem;
    letter-spacing: 0em;
}

.heading-6 {
    font-size: 1.25rem;
    letter-spacing: 0.0075em;
    font-weight: 500;
}

.text-subtitle {
    font-size: 0.875rem;
    letter-spacing: 0.00714em;
    font-weight: 500;
}

.text-body-lg {
    font-size: 1rem;
    letter-spacing: 0.00938em;
}

.text-body-sm {
    font-size: 0.875rem;
    letter-spacing: 0.01071em;
}

.text-caption {
    font-size: 0.75rem;
    letter-spacing: 0.03333em;
}

.text-gutterBottom {
    margin-bottom: 0.5em;
}

.text-gutterTop {
    margin-top: 0.5em;
}

.text-noWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.text-grayed {
    color: var(--gray-600);
}

.text-strikethrough {
    text-decoration: line-through;
}

.margin-auto {
    margin: auto;
}

.full-width {
    display: block;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-light,
.divider-dark {
    margin: 0.5rem 0;
    display: block;
}

.divider-light {
    border-bottom: 1px solid var(--light);
}

.divider-dark {
    border-bottom: 1px solid var(--dark);
}
