<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./toast.css" />
        <title>MOR | Toast</title>
    </head>
    <body>
        <div class="toast-left-blue auto-close-toast">
            <p class="toast-text">Message!!!!</p>
            <button class="btn-filled-blue">undo</button>
        </div>
        <div class="toast-center-red">
            <p class="toast-text">Message!!!!</p>
            <button class="btn-filled-red">undo</button>
        </div>
        <div class="toast-right-green">
            <p class="toast-text">Message!!!!</p>
            <button class="btn-filled-green">undo</button>
        </div>
        <div class="toast-left-orange">
            <p class="toast-text">Message!!!!</p>
            <button class="btn-filled-orange">undo</button>
        </div>
        <script src="./toast.js"></script>
        <script
            src="https://kit.fontawesome.com/0c3127d83e.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
