<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/Components/list/list.css" />
        <link rel="stylesheet" href="/Components/button/button.css" />
        <link rel="stylesheet" href="/Components/utilities/utils.css" />
        <link rel="stylesheet" href="/css/doc.css" />
        <link
            rel="shortcut icon"
            href="/images/favicon.png"
            type="image/x-icon"
        />
        <title>MOR | List</title>
    </head>
    <body>
        <nav class="doc-nav">
            <a href="/index.html" class="logo">
                <img src="/images/text-logo.png" />
            </a>
            <span class="links">
                <a
                    href="https://github.com/aman-can"
                    target="_blank"
                    class="social-links"
                >
                    <i class="fab fa-github-square"></i>
                </a>
                <a
                    href="https://www.linkedin.com/in/dubey-aman/"
                    target="_blank"
                    class="social-links"
                >
                    <i class="fab fa-linkedin"></i>
                </a>
                <a
                    href="https://twitter.com/ScoobyDubeyDo"
                    target="_blank"
                    class="social-links"
                >
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a class="ham-burger">
                    <i class="fa fa-bars"></i>
                </a>
            </span>
        </nav>

        <main class="doc-content">
            <aside class="menu-bar">
                <ul class="list">
                    <p class="heading-6">Getting Started</p>
                    <a href="/intro.html" class="list-items-hover">
                        <li>Introduction</li>
                    </a>
                    <a
                        href="/Components/Shared/colors.html"
                        class="list-items-hover"
                    >
                        <li>Colors</li>
                    </a>
                    <a
                        href="/Components/utilities/utils.html"
                        class="list-items-hover"
                    >
                        <li>Typography</li>
                    </a>
                    <p class="heading-6">Components</p>
                    <a
                        href="/Components/button/button.html"
                        class="list-items-hover"
                    >
                        <li>Button</li>
                    </a>
                    <a
                        href="/Components/avatar/avatar.html"
                        class="list-items-hover"
                    >
                        <li>Avatar</li> </a
                    ><a
                        href="/Components/badge/badge.html"
                        class="list-items-hover"
                    >
                        <li>Badge</li>
                    </a>

                    <a
                        href="/Components/card/card.html"
                        class="list-items-hover"
                    >
                        <li>Card</li> </a
                    ><a
                        href="/Components/modal/modal.html"
                        class="list-items-hover"
                    >
                        <li>Modal</li>
                    </a>
                    <a
                        href="/Components/image/image.html"
                        class="list-items-hover"
                    >
                        <li>Image</li>
                    </a>
                    <a
                        href="/Components/navigation/navigation.html"
                        class="list-items-hover"
                    >
                        <li>App Bar</li>
                    </a>
                    <a
                        href="/Components/alert/alert.html"
                        class="list-items-hover"
                    >
                        <li>Alert</li>
                    </a>
                    <a
                        href="/Components/rating/rating.html"
                        class="list-items-hover"
                    >
                        <li>Rating</li>
                    </a>
                    <a
                        href="/Components/slider/slider.html"
                        class="list-items-hover"
                    >
                        <li>Slider</li>
                    </a>
                    <a
                        href="/Components/input/input.html"
                        class="list-items-hover"
                    >
                        <li>Input</li>
                    </a>
                    <a
                        href="/Components/toast/toast.html"
                        class="list-items-hover"
                    >
                        <li>Toast</li>
                    </a>
                    <a
                        href="/Components/list/list.html"
                        class="list-items-hover list-active"
                    >
                        <li>Lists</li> </a
                    ><a
                        href="/Components/grid/grid.html"
                        class="list-items-hover"
                    >
                        <li>Grid</li>
                    </a>
                    <hr />
                </ul>
            </aside>
            <section class="main-docs">
                <h1 class="heading-2">List</h1>
                <p class="text-body-lg">
                    Lists are a continuous group of text or images. They are
                    composed of items containing primary and supplemental
                    actions, which are represented by icons and text. Lists can
                    be used at so many places, navigation bar, stacked
                    notifications, article pages, etc.
                </p>
                <hr />
                <h2 class="heading-3">Imports</h2>
                <div class="code-snippet-sm">
                    <code>
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=twilight&wt=none&l=htmlmixed&width=800.75&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=135%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fmor-ui.vercel.app%252FComponents%252Flist%252Flist.css%2522%253E"
                            sandbox="allow-scripts allow-same-origin"
                        >
                        </iframe>
                    </code>
                </div>
                <hr />
                <h2 class="heading-4">Horizontal List</h2>
                <p class="text-body-lg">
                    A horizontal list is used when you want to list chips or
                    tabs etc.
                </p>
                <div class="example-div">
                    <ul class="horizontal-list">
                        <li><button class="btn-filled-pink">Lorem</button></li>
                        <li>
                            <button class="btn-filled-purple">ipsum</button>
                        </li>
                        <li><button class="btn-filled-blue">dolor</button></li>
                        <li><button class="btn-filled-yellow">sit</button></li>
                    </ul>
                </div>
                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=twilight&wt=none&l=htmlmixed&width=800.75&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=135%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522horizontal-list%2522%253E%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-pink%2522%253ELorem%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-purple%2522%253Eipsum%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-blue%2522%253Edolor%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-yellow%2522%253Esit%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%253C%252Ful%253E"
                        sandbox="allow-scripts allow-same-origin"
                    >
                    </iframe>
                </div>
                <hr />
                <h2 class="heading-4">Vertical List</h2>
                <p class="text-body-lg">
                    All your stacked components like notifications, article
                    pages, etc. will be created using a vertical list.
                </p>
                <div class="example-div">
                    <ul class="vertical-list">
                        <li><button class="btn-filled-pink">Lorem</button></li>
                        <li>
                            <button class="btn-filled-purple">ipsum</button>
                        </li>
                        <li><button class="btn-filled-blue">dolor</button></li>
                        <li><button class="btn-filled-yellow">sit</button></li>
                    </ul>
                </div>
                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=twilight&wt=none&l=htmlmixed&width=800.75&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=135%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522vertical-list%2522%253E%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-pink%2522%253ELorem%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-purple%2522%253Eipsum%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-blue%2522%253Edolor%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%250A%2509%253Cli%253E%250A%2509%2509%253Cbutton%2520class%253D%2522btn-filled-yellow%2522%253Esit%253C%252Fbutton%253E%250A%2509%253C%252Fli%253E%250A%253C%252Ful%253E"
                        sandbox="allow-scripts allow-same-origin"
                    >
                    </iframe>
                </div>
                <hr />
                <span class="links">
                    <a href="#" class="footer-links"
                        ><i class="fab fa-github-square"></i
                    ></a>
                    <a href="#" class="footer-links"
                        ><i class="fab fa-linkedin"></i
                    ></a>
                    <a href="#" class="footer-links"
                        ><i class="fab fa-twitter-square"></i
                    ></a>
                </span>
            </section>
        </main>
        <script src="/javaScript/doc.js"></script>
        <script
            src="https://kit.fontawesome.com/0c3127d83e.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
