<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/Components/button/button.css" />
        <link rel="stylesheet" href="./navigation.css" />
        <title>MOR | Navigation</title>
    </head>
    <body>
        <div class="appbar-standard">
            <div class="appbar-menu">
                <button class="icon-btn-pink">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="appbar-hero"><h3>LOGO</h3></div>
            <nav class="appbar-btns">
                <button class="icon-btn-pink">
                    <i class="fas fa-download"></i>
                </button>
                <button class="icon-btn-pink">
                    <i class="fas fa-print"></i>
                </button>
                <button class="icon-btn-pink">
                    <i class="fas fa-bookmark"></i>
                </button>
            </nav>
        </div>
        <script
            src="https://kit.fontawesome.com/0c3127d83e.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
