<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="/Components/rating/rating.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="rating-group">
            <input
                disabled
                checked
                class="rating-input rating-input-none"
                name="star"
                id="star-none"
                value="0"
                type="radio"
            />
            <label class="rating-label" for="star-1"
                ><i class="rating-icon rating-icon-star fa fa-star"></i
            ></label>
            <input
                class="rating-input"
                name="star"
                id="star-1"
                value="1"
                type="radio"
            />
            <label class="rating-label" for="star-2"
                ><i class="rating-icon rating-icon-star fa fa-star"></i
            ></label>
            <input
                class="rating-input"
                name="star"
                id="star-2"
                value="2"
                type="radio"
            />
            <label class="rating-label" for="star-3"
                ><i class="rating-icon rating-icon-star fa fa-star"></i
            ></label>
            <input
                class="rating-input"
                name="star"
                id="star-3"
                value="3"
                type="radio"
            />
            <label class="rating-label" for="star-4"
                ><i class="rating-icon rating-icon-star fa fa-star"></i
            ></label>
            <input
                class="rating-input"
                name="star"
                id="star-4"
                value="4"
                type="radio"
            />
            <label class="rating-label" for="star-5"
                ><i class="rating-icon rating-icon-star fa fa-star"></i
            ></label>
            <input
                class="rating-input"
                name="star"
                id="star-5"
                value="5"
                type="radio"
            />
        </div>
        <span class="rating-display"></span>
        <script src="/Components/rating/rating.js"></script>
        <script
            src="https://kit.fontawesome.com/0c3127d83e.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
