<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./badge.css" />
        <link rel="stylesheet" href="../avatar/avatar.css" />
        <title>MOR | Badge</title>
    </head>
    <body>
        <br />
        <div class="badge-container">
            <i class="fas fa-envelope icon"></i>
            <span class="number-badge-green">66</span>
        </div>
        <div class="badge-container">
            <i class="fas fa-envelope icon"></i>
            <span class="number-badge-red">66</span>
        </div>
        <div class="badge-container">
            <i class="fas fa-envelope icon"></i>
            <span class="number-badge-blue">66</span>
        </div>
        <div class="badge-container">
            <img
                class="avatar-squircle-md"
                src="https://picsum.photos/seed/black/100"
                alt="avatar"
            />
            <span class="number-badge-purple">66</span>
        </div>
        <br />
        <div class="badge-container">
            <img
                class="avatar-circle-md"
                src="https://picsum.photos/seed/black/100"
                alt="avatar"
            />
            <span class="status-badge-red"></span>
        </div>
        <div class="badge-container">
            <img
                class="avatar-squircle-md"
                src="https://picsum.photos/seed/black/100"
                alt="avatar"
            /><span class="status-badge-gray"></span>
        </div>
        <div class="badge-container">
            <img
                class="avatar-squircle-sm"
                src="https://picsum.photos/seed/black/100"
                alt="avatar"
            /><span class="status-badge-red"></span>
        </div>
        <div class="badge-container">
            <img
                class="avatar-squircle-lg"
                src="https://picsum.photos/seed/black/100"
                alt="avatar"
            /><span class="status-badge-green"></span>
        </div>
        <script
            src="https://kit.fontawesome.com/0c3127d83e.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
