<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./modal.css" />
        <link rel="stylesheet" href="../button/button.css" />
        <title>MOR | Modal</title>
    </head>
    <body>
        <div class="modal-sm" id="modal-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title heading-3">Modal title</h1>
                        <button class="icon-btn-purple modal-close-btn">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-body-lg">
                            Lorem ipsum dolor Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Maiores ducimus sint
                            rror dignissimos! Cupiditate aliquam excepturi quos
                            similique recusandae asp
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-filled-purple">
                            Save changes
                        </button>
                        <button class="btn-outlined-purple modal-close-btn">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn-filled-yellow modal-handler" for="modal-1">
            open
        </button>
        <script src="./modal.js"></script>
        <script
            src="https://kit.fontawesome.com/0c3127d83e.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
