<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./text.css" />
        <title>MOR | Text Utilities</title>
    </head>
    <body>
        <h1 class="heading-1">h1. heading</h1>
        <h2 class="heading-2">h2. heading</h2>
        <h3 class="heading-3">h3. heading</h3>
        <h4 class="heading-4">h4. heading</h4>
        <h5 class="heading-5">h5. heading</h5>
        <h6 class="heading-6">h6. heading</h6>
        <p class="text-subtitle">subtitle</p>
        <p class="text-body-lg">body text large</p>
        <p class="text-body-sm">body text small</p>
        <p class="text-caption">caption</p>
        <div style="width: 300px">
            <span class="text-noWrap"
                >Text which does not wrap, Lorem ipsum dolor sit amet.</span
            >
        </div>
    </body>
</html>
