@import url(../Shared/reset.css);
@import url(../Shared/colors.css);

.alert-success,
.alert-error,
.alert-warning,
.alert-info {
    width: 100%;
    color: var(--light);
    border-radius: 0.8rem;
    padding: 1rem 1.5rem;
    opacity: 0.9;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.alert-success {
    background: linear-gradient(
        to right,
        var(--green-600) 1%,
        var(--green-500) 50%,
        var(--green-400) 100%
    );
}
.alert-error {
    background: linear-gradient(
        to right,
        var(--red-600) 1%,
        var(--red-500) 50%,
        var(--red-400) 100%
    );
}
.alert-warning {
    background: linear-gradient(
        to right,
        var(--orange-600) 1%,
        var(--orange-500) 50%,
        var(--orange-400) 100%
    );
}
.alert-info {
    background: linear-gradient(
        to right,
        var(--blue-600) 1%,
        var(--blue-500) 50%,
        var(--blue-400) 100%
    );
}

.alert-icon {
    font-size: 1.5rem;
}

.alert-button {
    margin-left: auto;
}
